@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
    --cor-fundo : #63997a;
    --cor-btn-sombra : #9D1522;
    --cor-btn : #F29100;
    --cor-letra: #24434b;

    --fonte-btn: "DM Mono", monospace;
    --fonte-pergunta : "Changa One", sans-serif;;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle at center, #72b7c8,#24434b);
    gap: 30px;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    
}

.titulo img {
    width: 400px;
    
}

.pergunta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    
}

.pergunta p {
    font-size: 3em;
    font-family: var(--fonte-pergunta);
    color: var(--cor-letra);
    text-shadow: 0px 5px #bfbc84;
}

.img__perguntas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn__respostas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 50px;
    
    
    
}

.btn {
    
    height: 100%;
    box-shadow: 0px 20px 0 var(--cor-btn-sombra);
    border: none;
    outline: none;
    background-color: var(--cor-btn);
    border-radius: 22px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-weight: bolder;
    font-family: var(--fonte-btn);
    flex-wrap: nowrap;
    transition: transform 0.05s, box-shadow 0.05s;
    color: white;
    cursor: pointer;
    
}


.btn:active {
    transform: translateY(15px);
    box-shadow: 0px 5px 0 var(--cor-btn-sombra);
    
}

.timao__icon {
    width: 120px;
    padding: 10px;
}

.palmeiras__icon {
    width: 130px;
    padding: 10px;

}

.selecionado {
    transform: translateY(15px);
    box-shadow: 0px 5px 0 var(--cor-btn-sombra);
}

.certo {
    background-color: green;

}

.errado {
    background-color: red;
}

audio{
    display: none;

}

.musica {
    background-color: var(--cor-btn-sombra);
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 0px 0px 0px 10px;
    position: fixed;
    right: 0;
}

.musica img {
    width: 100%;
}

.texto__gerado {
    padding: 5px;
    font-size: 1.5em;
    color: white;
}